[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=SmartBookmark
Name[ar]=علامات ذكية
Name[ast]=SmartBookmark
Name[be]=Разумныя закладкі
Name[bg]=Умна Маркировка
Name[ca]=SmartBookmark
Name[cs]=Chytré záložky
Name[da]=Smartbogmærke
Name[de]=Intelligente Lesezeichen
Name[el]=SmartBookmark
Name[en_AU]=SmartBookmark
Name[en_GB]=SmartBookmark
Name[es]=Marcador inteligente
Name[eu]=Lastermarka-azkarrak
Name[fr]=SmartBookmark
Name[gl]=SmartBookmark
Name[he]=סימנייה חכמה
Name[hr]=Pametna zabilješka
Name[hu]=Intelligens könyvjelző
Name[id]=BookmarkCerdas
Name[is]=SnjallBókamerki
Name[it]=SmartBookmark
Name[ja]=SmartBookmark
Name[ko]=스마트 북마크
Name[ku]=SmartBookmark
Name[lt]=Išmani žymelė
Name[lv]=Viedās grāmatzīmes
Name[ms]=Tanda Buku Pintar
Name[nb]=SmartBokmerke
Name[nl]=SlimmeBladwijzer
Name[oc]=SmartBookmark
Name[pl]=Inteligentne zakładki
Name[pt]=Marcador inteligente
Name[pt_BR]=Marcador Inteligente
Name[ru]=Умные закладки
Name[sk]=Šikovné záložky
Name[sr]=Паметне забелешке
Name[sv]=SmartBookmark
Name[th]=ที่คั่นหน้าอัจฉริยะ
Name[tr]=SmartBookmark
Name[ug]=SmartBookmark
Name[uk]=Кмітливі закладки
Name[ur]=سمارٹ بُک مارک
Name[ur_PK]=سمارٹ بُک مارک
Name[zh_CN]=SmartBookmark 智能书签
Name[zh_TW]=SmartBookmark
Comment=Query websites from the Xfce panel
Comment[ar]=موقع للإستعلام عن شريط إكسفس
Comment[ast]=Consulta sitios web dende'l panel de Xfce
Comment[be]=Пераход да сайтаў з панэлі Xfce
Comment[bg]=Запитване за уеб сайтове от Xfce панела
Comment[ca]=Consulteu els llocs web des del tauler de Xfce
Comment[cs]=Zasílá dotazy na webové stránky z panelu Xfce
Comment[da]=Forespørg websteder fra Xfce-panelet
Comment[de]=Internetseiten aus der Xfce-Leiste heraus aufrufen
Comment[el]=Ερώτημα ιστοσελίδων από το ταμπλό του Xfce
Comment[en_AU]=Query websites from the Xfce panel
Comment[en_GB]=Query websites from the Xfce panel
Comment[es]=Consulte sitios web desde el panel de Xfce
Comment[eu]=Galdetu webguneak Xfce paneletik
Comment[fi]=Suorita kyselyjä verkkosivuille Xfce:n paneelista
Comment[fr]=Interroger des sites Web depuis le tableau de bord Xfce
Comment[gl]=Visitar sitios web dende o panel de Xfce
Comment[he]=תשאל אתרים מפאנל Xfce 
Comment[hr]=Upit web stranice iz Xfce ploče
Comment[hu]=Weboldalak lekérdezése az Xfce panelről
Comment[id]=Kueri situs web dari panel Xfce
Comment[is]=Leita á vefnum beint af Xfce skjástikunni
Comment[it]=Interroga i siti web dal pannello di Xfce
Comment[ja]=Xfce パネルから ウェブサイトに質問する
Comment[ko]=Xfce 패널에서 웹사이트 요청하기
Comment[ku]=Ji panela Xfceê malperên webê bipirse
Comment[lt]=Užklauskite svetaines tiesiai iš Xfce skydelio
Comment[lv]=Vaicāt tīmekļa vietni no Xfce paneļa
Comment[ms]=Tanya laman sesawang dari panel Xfce
Comment[nb]=Forespør nettsider fra Xfce-panelet
Comment[nl]=Doorzoek websites vanaf de Xfce-werkbalk
Comment[oc]=Questionar de sites internet dempuèi lo panèl Xfce
Comment[pl]=Odpytywanie stron internetowych z panelu Xfce
Comment[pt]=Consultar páginas web a partir do painel do Xfce
Comment[pt_BR]=Consulte sites pelo painel do Xfce
Comment[ru]=Переход к сайтам с панели Xfce
Comment[sk]=Zasiela požiadavky na webové stránky z panelu Xfce
Comment[sq]=Kërkoni nëpër site-e web që prej panelit Xfce
Comment[sr]=Упитај веб странице из ИксФЦЕ полице
Comment[sv]=Fråga webbplatser från Xfce-panelen
Comment[th]=สืบค้นเว็บไซต์จากพาเนลของ Xfce
Comment[tr]=Web sitelerini Xfce panelinden sorgulayın
Comment[ug]=Xfce تاختىسى ئارقىلىق تورتۇرالاردىن سۈرۈشتۈرۈش
Comment[uk]=Звернення до веб-сайтів з панелі Xfce
Comment[ur]=ایکسفس پینل کے لیے ویب سائٹ سے استفسار کریں
Comment[ur_PK]=ایکسفس پینل کے لیے ویب سائٹ سے استفسار کریں
Comment[zh_CN]=从 Xfce 面板上查询网站
Comment[zh_TW]=從 Xfce 面板查詢網站
Icon=system-search
X-XFCE-Module=smartbookmark
X-XFCE-Internal=FALSE
X-XFCE-API=2.0
