[Unit]
Description=Indicator Power
PartOf=graphical-session.target
After=indicators-pre.target

[Service]
ExecStart=/usr/lib/aarch64-linux-gnu/indicator-power/indicator-power-service
Restart=on-failure
