[Desktop Entry]
Type=Application
Version=1.0
Name=Data Composition
Name[ar]=تجهيز التوليفة
Name[ast]=Composición de datos
Name[be]=Праект з данымі
Name[bg]=Проект с данни
Name[ca]=Composició de dades
Name[cs]=Datová kompozice
Name[da]=Datasamling
Name[de]=Datenzusammenstellung
Name[el]=Σύνθεση δεδομένων
Name[en]=Data Composition
Name[en_AU]=Data Composition
Name[en_GB]=Data Composition
Name[es]=Composición de datos
Name[eu]=Datu konposizioa
Name[fi]=Tiedostokokoelma
Name[fr]=Composition de données
Name[gl]=Composición de datos
Name[he]=יצירת מידע
Name[hr]=Kompilacija podataka
Name[hu]=Adat-összeállítás
Name[hy_AM]=Տուեալների համադրութիւն
Name[id]=Komposisi Data
Name[ie]=Composition de data
Name[is]=Samsetning gagna
Name[it]=Composizione dati
Name[ja]=データコンポジション (Xfburn)
Name[kk]=Мәліметтер жобасы
Name[ko]=데이터 구성
Name[lt]=Duomenų projektas
Name[ms]=Komposisi Data
Name[nb]=Datakomposisjon
Name[nl]=Gegevensverzameling
Name[nn]=Datasamansetjing
Name[oc]=Composicion de donadas
Name[pl]=Projekt z danymi
Name[pt]=Composição de dados
Name[pt_BR]=Composição de dados
Name[ru]=Проект с данными
Name[si]=දත්ත සංයෝජනය
Name[sk]=Dátová kompozícia
Name[sl]=Diskovna kompozicija
Name[sq]=Hartim të Dhënash
Name[sr]=Скуп података
Name[sv]=Datasamling
Name[te]=దత్తాంశ కూర్పు
Name[th]=ร่างต้นฉบับแผ่นข้อมูล
Name[tr]=Veri Derlemesi
Name[ug]=سانلىق-مەلۇمات ياسالمىسى
Name[uk]=Дані Проекту
Name[zh_CN]=数据项目
Name[zh_TW]=資料燒錄清單
Icon=stock_xfburn
TryExec=xfburn
Exec=xfburn --data-composition %F
